header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: Y#3519d2;
    color: rgb(226, 231, 235)
    justify-content space-between;
    align-items: center;
}